<!DOCTYPE html>
<html>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<title>Download File</title>

<body>

    <h1>Download File</h1>

    <button type="button" onclick="showDate()">点我显示日期和时间</button>
    <button type="button" onclick="showFiles()">列举根目录文件列表</button>
    <button type="button" onclick="uploadFile()">上传文件</button>
    <h3 id="before"></h3>
    <h3 id="current"></h3>
    <div id="process"></div>
    <div id="output"></div>

    <script>
        function uploadFile() {
            var filePath = $("#currentPath").attr("value");

            if (filePath == undefined) {
                filePath = "./";
            }
            $("#process").empty();
            $("#output").empty();
            $("#before").empty();
            $("#output").append("<input type='file' id='f1' multiple />");
            $("#output").append("<button id=uploadFile>点击上传文件</button>");
            $("#uploadFile").on("click", function (event) {
                var fileList = document.getElementById('f1').files;  //f1是input type="file" 的那个标签
                if (!fileList.length) {   //如果文件为空，触发它
                    alert('请选择文件');
                    return;
                }
                var file = new FormData(); //构造FormData对象,这个就是我们最终上传的文件

                //多文件上传需要遍历添加到 fromdata 对象
                for (var i = 0; i < fileList.length; i++) {
                    file.append('file', fileList[i]);
                    //formData.append(name, value); 
                    //由于我接口要求的参数名是file，所以我第一个设置的是file，如果你要用于你的项目，请根据后端提供的接口调整name的值
                }
                var xhr = new XMLHttpRequest(); //创建对象
                xhr.upload.onprogress = function (event) {
                    $("#process").html("<h3>当前上传进度：" + Math.round(event.loaded * 100 / event.total) + "%</h3>");
                }
                xhr.open("POST", "upload"); //链接改成你项目中的
                xhr.setRequestHeader("filepath", filePath);
                xhr.send(file); //发送时  Content-Type默认就是: multipart/form-data; 
                xhr.onreadystatechange = function () {
                    console.log('state change', xhr.readyState);
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(xhr.responseText);
                        //if (obj.data) {    
                        //  alert('上传成功');
                        //}
                    }
                }

            });
        }


        function bindAClickEvent() {
            $("a").on("click", function (event) {
                var pathname = this.getAttribute("value");
                if (pathname == undefined) {
                    return;
                }
                // var ext = pathname.match(/(\.[^.]+|)$/)[0];//取得后缀名
                // if (ext == ".mp4" || ext == ".mp3") {
                //     downLoadFile(pathname);
                if (pathname.lastIndexOf('.') > 0) {
                    window.open(window.location.href + "video?filePath=" + pathname);
                } else {
                    downLoadFile(pathname)
                }

                // }else{
                //     downLoadFile(pathname);
                // }

            });
        }

        function bindButtonClickEvent() {
            $("button").on("click", function (event) {
                var pathname = this.getAttribute("value");
                if (pathname == undefined) {
                    return;
                }
                // var ext = pathname.match(/(\.[^.]+|)$/)[0];//取得后缀名
                // if (ext == ".mp4" || ext == ".mp3") {
                //     downLoadFile(pathname);
                //     //window.open(window.location.href + "video?filePath=" + pathname);
                // }else{
                downLoadFile(pathname);
                //}

            });
        }

        function showDate() {
            $("a").remove();
            document.getElementById("output").innerHTML = new Date();
        }

        function downLoadFile(pathname) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onprogress = function (event) {
                var len = this.getResponseHeader("Content-Length");
                $("#process").html("<h3>当前下载进度：" + Math.round(event.loaded * 100 / len) + "%</h3>");
            }
            httpRequest.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var filetype = this.getResponseHeader("filetype");
                    if (filetype != null && filetype == 1) {
                        var path = this.getResponseHeader("path");
                        if (path != null) {
                            _showFiles(path);
                        }
                    } else {
                        var pathname = this.getResponseHeader("filename");
                        var a = document.createElement('a');
                        var urlTemp = URL.createObjectURL(new Blob([this.response]));
                        a.href = urlTemp;
                        a.download = decodeURI(pathname);
                        a.responseType = 'blob';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    }
                }
            }
            // httpRequest.responseType = 'blob';
            // httpRequest.open("GET", "download?value=" + filename, true);
            // httpRequest.send();

            httpRequest.responseType = 'blob';
            httpRequest.open("POST", "download", true);
            httpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            httpRequest.send("path=" + pathname);
        }
        function showFiles() {
            _showFiles("./root");
        }
        function _showFiles(path) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var tmpStr = decodeURI(path);
                    var last = tmpStr.lastIndexOf("/");
                    if (last == 1) {
                        last = 2;
                    }
                    $("tr").remove();
                    $("a").remove();
                    $("#output").empty();
                    $("#before").html("<a id ='beforePath' value = '" + encodeURI(tmpStr.slice(0, last)) + "' href='javascript:void(0);' >上一级目录</a>");
                    $("#current").html("<a id ='currentPath' value = '" + encodeURI(tmpStr) + "'>当前目录：" + tmpStr + "</a>");
                    $("#output").append("<table id='tab-list'></table>");
                    $("#tab-list").append("<tr id='list-header'><td width='100px'>序号</td><td width='400px'>文件名</td></tr>");
                    var data = this.responseText.split(',');
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].trim().length == 0) {
                            continue;
                        }
                        $("#tab-list").append("<tr><td>" + (i + 1) + "</td><td> <a value = '" + encodeURI(data[i]) +
                            "' href='javascript:void(0);' >" + data[i] + "</a></td><td><button value = '" + encodeURI(data[i]) + "' >下载</button></td></tr>");
                    }
                    bindAClickEvent();
                    bindButtonClickEvent();
                }
            };
            httpRequest.open("GET", "getRootFile?value=" + path, true);
            httpRequest.send();
        }

    </script>
</body>

</html>